.product-sm {
  display: flex;
  img.product-image {
    border-radius: 4px;
    height: 100px;
    width: 64px;
    margin-right: 8px;
  }
  .product-body {
    padding: 33px 0;
    font-family: Lato;
    font-weight: normal;
    line-height: 17px;
    a {
      &:hover {
        .name {
          text-decoration: underline;
        }
      }
    }
    .name {
      color: rgba(0, 0, 0, 0.87);
      font-size: 13px;
      white-space: pre;
    }
    .price-wrapper {
      &.has-discount {
        .price {
          text-decoration-line: line-through;
        }
      }
      span {
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 13px;
        margin-right: 6px;
      }
      .discount {
        color: #a62c0d;
      }
    }
  }
}
.product {
  display: flex;
  flex-direction: column;
  .product-image {
    cursor: pointer;
    position: relative;
    img {
      max-width: 100%;
    }
    .product-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .status {
        display: flex;
        margin: 18px;
        padding: 5px 10px;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 4px;
        font-size: 11px;
        font-family: Lato;
      }
    }
  }
  .product-body {
    margin: 6px 6px 0 0;
    span {
      line-height: 17px;
      display: block;
      color: #212121;
    }
    span.name {
      font-size: 12px;
    }
    span.description {
      font-size: 11px;
    }
    .price {
      margin: 4px 0;
      span {
        font-size: 11px;
        display: unset;
        font-weight: 500;
      }
      &.has-discount {
        .amount {
          text-decoration-line: line-through;
        }
      }
      .discount {
        margin-left: 4px;
        color: #b00020;
      }
    }
  }
}
